@import "./common";
@import "./btns";

.flex {
  display: flex;
  flex-wrap: wrap;

  &-row-center {
    justify-content: center;
  }

  &-column {
    flex-direction: column;
  }

  &-column-center {
    align-items: center;
  }
}

.header {
  padding: 0 51px;
  border-bottom: 1px solid #CCCCCC;

  &-container {
    max-width: $max-width-header;
    width: 100%;
    padding: 25px 0;
    align-items: center;
    gap: 50px;
  }

  &-nav {
    flex-grow: 1;
    gap: 50px;
  }

  &-link {
    font-size: 15px;
    color: $black-color;
  }

  &-btns {
    gap: 10px;
  }
}

.container {
  max-width: $max-width-container;
  width: 100%;
}

.main {

  &-accelerate-wrap {
    width: 100%;
    padding: 129px 20px 172px;
  }

  &-container {
    max-width: $max-width-main-container;
    width: 100%;
  }

  &-left-container {
    gap: 51px;
  }

  &-btns {
    gap: 10px;
    align-items: center;
  }

  &-img {
    width: 100%;
    max-width: 759px;
  }
}

@mixin font-settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

.main-bold-text {
  @include font-settings(65px, 70px);
  max-width: 552px;
  font-weight: 600;
}

.bold-text {
  @include font-settings(50px, 60px);
  font-weight: 600;
}

.text {
  @include font-settings(20px, 30px);
}

.main-text {
  @include font-settings(25px, 35px);
  max-width: 471px;

  &-small {
    padding-top: 14px;
    max-width: 369px;
    font-size: 15px;
  }

  &-img {
    max-width: 678px;
  }
}

.orange-block-wrap {
  background-color: #FF9C7D;
  width: 100%;
  padding: 108px 20px 104px;
}

.orange-block-container {
  max-width: 1243px;
  width: 100%;
  gap: 85px;
}

.orange-block-text {
  max-width: 720px;
  text-align: center;
}

.logos-container {
  gap: 102px;
}

.middle-wrap {
  padding: 90px 20px 150px;
  background-color: $white-color;
  width: 100%;
}

.middle-container {
  max-width: $max-width-container;
  width: 100%;
  gap: 250px;
}

.underline-link {
  color: $black-color;
  text-decoration: underline;
  max-width: 109px;
}

.start {
  @include font-settings(20px, 30px);
  font-weight: 600;
  color: $black-color;
  max-width: 96px;

  &:hover {
    text-decoration: underline;
  }
}

.bold-first {
  max-width: 493px;
}

.text-first {
  max-width: 491px;
}

.middle-img {
  max-width: 632px;
  width: 100%;
}

.block-items {
  align-items: center;
  gap: 138px;
}

.text-middle-container {
  gap: 30px;
}

.text-second {
  max-width: 450px;
}

.text-third {
  max-width: 520px;
}

.light-yellow {

  &-wrap {
    background-color: #FFF8E4;
    width: 100%;
    padding: 120px 20px 147px;
  }

  &-container {
    max-width: 1197px;
    gap: 75px;
  }

  &-bold-text {
    @include font-settings(25px, 35px);
    font-weight: 600;
  }

  &-text {
    @include font-settings(18px, 25px);
  }
}

.row-apps {
  gap: 100px;
}

.row-app-container {
  max-width: 330px;
  text-align: center;
  gap: 23px;
}

.app-icon {
  max-width: 160px;
  width: 100%;
}

.boost {
  &-wrap {
    background-color: $white-color;
    width: 100%;
    padding: 154px 20px 187px;
  }

  &-img {
    max-width: 179px;
    width: 100%;

    &-manager {
      max-width: 145px;
      padding-bottom: 49px;
    }

    &-dev {
      padding-bottom: 67px;
    }

    &-translate {
      padding-top: 50px;
      padding-bottom: 15px;
    }
  }

  &-container {
    max-width: 409px;
    width: 100%;
  }
}

.title-text {
  @include font-settings(30px, 40px);
  font-weight: 600;
  padding-bottom: 33px;
}

.boosts-container {
  gap: 75px;
  max-width: $max-width-container;
  width: 100%;
}

.title-second {
  padding-top: 17px;
}

.title-third {
  padding-top: 30px;
}

.boost-text {
  padding-bottom: 25px;
}

.row-boosts {
  gap: 30px;
}

.blue-block {
  &-wrap {
    background-color: #C9E8F2;
    padding: 53px 20px 105px;
  }

  &-container {
    max-width: $max-width-container;
    width: 100%;
    gap: 59px;
  }

  &-left-side {
    max-width: 920px;
  }

  &-text {
    @include font-settings(30px, 40px);
  }

  &-small-text {
    @include font-settings(15px, 25px);
    padding: 23px 0 7px;
  }
}

.revolut-logo {
  max-width: 115px;
  width: 100%;
}

.man-photo {
  max-width: 310px;
  width: 100%;
}

.brown {
  &-block {
    &-wrap {
      background-color: #DABC98;
      padding: 80px 20px 84px;
    }

    &-container {
      max-width: 1332px;
      width: 100%;
      gap: 71px;
    }

    &-logos {
      align-items: flex-start;
      gap: 16px;
    }
  }

  &-right-container {
    max-width: 811px;
    width: 100%;
    gap: 67px;
  }

  &-left-container {
    gap: 70px;
  }

  &-line-separate {
    max-width: 1px;
    background-color: black;
    width: 100%;
    max-height: 168px;
  }

  &-bold-text {
    @include font-settings(35px, 50px);
    font-weight: 600;
    max-width: 461px;
  }

  &-small-text {
    @include font-settings(15px, 25px);
  }
}

.cake-img {
  max-width: 176px;
  width: 100%;
}
