@import "./common";
@import "./btns";

@mixin font-settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &-row-center {
    justify-content: center;
  }

  &-column {
    flex-direction: column;
  }

  &-column-center {
    align-items: center;
  }
}

.header {
  padding: 0 51px;
  border-bottom: 1px solid #CCCCCC;

  &-container {
    @include size($max-width-header, 100%);
    padding: 25px 0;
    align-items: center;
    gap: 50px;
  }

  &-nav {
    flex-grow: 1;
    gap: 50px;
  }

  &-link {
    font-size: 15px;
    color: $black-color;
  }

  &-btns {
    gap: 10px;
  }
}

.main {

  &-accelerate-wrap {
    padding: 129px 20px 172px;
  }

  &-container {
    @include size($max-width-main-container, 100%);
  }

  &-left-container {
    gap: 51px;
  }

  &-btns {
    gap: 10px;
    align-items: center;
  }

  &-img {
    @include size(759px, 100%);
  }

  &-bold-text {
    @include font-settings(65px, 70px);
    max-width: 552px;
    font-weight: 600;
    overflow-wrap: anywhere;
  }
}

.bold-text {
  @include font-settings(50px, 60px);
  font-weight: 600;
}

.text {
  @include font-settings(20px, 30px);
}

.main-text {
  @include font-settings(25px, 35px);
  max-width: 471px;

  &-small {
    padding-top: 14px;
    max-width: 369px;
    font-size: 15px;
  }

  &-img {
    max-width: 678px;
  }
}

.orange-block-wrap {
  background-color: $orange-block-color;
  padding: 108px 20px 104px;
}

.orange-block-container {
  @extend %container;
  gap: 85px;
}

.orange-block-text {
  max-width: 720px;
  text-align: center;
}

.logos-container {
  gap: 102px;
}

.middle-wrap {
  padding: 90px 20px 150px;
  background-color: $white-color;
}

.middle-container {
  @include size($max-width-container, 100%);
  gap: 14vw;
}

.underline-link {
  color: $black-color;
  text-decoration: underline;
}

.start {
  @include font-settings(20px, 30px);
  font-weight: 600;
  color: $black-color;

  &:hover {
    text-decoration: underline;
  }
}

.bold-first {
  max-width: 493px;
}

.text-first {
  max-width: 491px;
}

.middle-img {
  @include size(632px, 100%);
}

.block-items {
  align-items: center;
  gap: 7vw;
}

.text-middle-container {
  gap: 30px;
}

.text-second {
  max-width: 450px;
}

.text-third {
  max-width: 520px;
}

.light-yellow {

  &-wrap {
    background-color: $light-yellow-color;
    padding: 120px 20px 147px;
  }

  &-container {
    @extend %container;
    gap: 75px;
    text-align: center;
  }

  &-bold-text {
    @include font-settings(25px, 35px);
    font-weight: 600;
    width: 100%;
  }

  &-text {
    @include font-settings(18px, 25px);
  }
}

.row-apps {
  gap: 100px;
}

.row-app-container {
  max-width: 330px;
  text-align: center;
  gap: 23px;
}

.app-icon {
  @include size(160px, 100%);
}

.boost {
  &-wrap {
    background-color: $white-color;
    padding: 154px 20px 187px;
  }

  &-img {
    @include size(179px, 100%);

    &-manager {
      max-width: 145px;
      padding-bottom: 49px;
    }

    &-dev {
      padding-bottom: 67px;
    }

    &-translate {
      padding-top: 50px;
      padding-bottom: 15px;
    }
  }

  &-container {
    @include size(409px, 100%);
  }
}

.title-text {
  @include font-settings(30px, 40px);
  font-weight: 600;
  padding-bottom: 33px;
}

.boosts-container {
  @extend %container;
  gap: 75px;
}

.title-second {
  padding-top: 17px;
}

.title-third {
  padding-top: 30px;
}

.boost-text {
  padding-bottom: 25px;
}

.row-boosts {
  gap: 30px;
}

.blue-block {
  &-wrap {
    background-color: $blue-color;
    padding: 53px 20px 105px;
  }

  &-container {
    @extend %container;
    gap: 59px;
  }

  &-left-side {
    max-width: 920px;
  }

  &-text {
    @include font-settings(30px, 40px);
  }

  &-small-text {
    @include font-settings(15px, 25px);
    padding: 23px 0 7px;
  }
}

.revolut-logo {
  @include size(115px, 100%);
}

.man-photo {
  @include size(310px, 100%);
}

.brown {
  &-block {
    &-wrap {
      background-color: $brown-color;
      padding: 80px 20px 84px;
    }

    &-container {
      @include size(1332px, 100%);
      gap: 71px;
    }

    &-logos {
      align-items: flex-start;
      gap: 16px;
    }
  }

  &-right-container {
    @include size(811px, 100%);
    gap: 67px;
  }

  &-left-container {
    gap: 70px;
  }

  &-line-separate {
    @include size(1px, 100%);
    background-color: black;
    max-height: 168px;
  }

  &-bold-text {
    @include font-settings(35px, 50px);
    font-weight: 600;
    max-width: 461px;
  }

  &-small-text {
    @include font-settings(15px, 25px);
  }
}

.cake-img {
  @include size(176px, 100%);
}

.integrate {

  &-wrap {
    padding: 165px 20px 162px;
    background-color: $white-color;
  }

  &-bold-text {
    @include font-settings(65px, 75px);
    font-weight: 600;
    max-width: 790px;
  }

  &-text {
    @include font-settings(25px, 30px);
    max-width: 539px;
  }

  &-container {
    @extend %container;
    gap: 32px;
  }

  &-text-container {
    text-align: center;
    padding-bottom: 7px;
  }

  &-img {
    @include size(1023px, 100%);
  }
}

.orange-foot {

  &-wrap {
    background-color: $orange-block-color;
    padding: 119px 20px 161px;
  }

  &-container {
    @extend %container;
    text-align: center;
    gap: 54px;
  }

  &-bold-text {
    @include font-settings(65px, 75px);
    font-weight: 600;
    max-width: 784px;
    overflow-wrap: anywhere;
  }

  &-txt {
    @include font-settings(20px, 30px);

    &-container {
      gap: 29px;
    }
  }
}

.footer-menu {
  &-wrap {
    padding: 92px 20px 95px;
    background-color: $white-color;
  }

  &-bold-text {
    @include font-settings(40px, 50px);
    font-weight: 600;
    padding-bottom: 28px;
  }

  &-text {
    @include font-settings(20px, 30px);
    padding-bottom: 15px;
  }

  &-container {
    @extend %container;
    gap: 140px;
  }

  &-case-items {
    max-width: 300px;
  }
}

.cycles-img {
  @include size(300px, 100%);
}

.spec-footer {
  @include size(80px, 100%);
  padding: 31px 0 10px 0;
}

.link-footer-bold {
  @include font-settings(20px, 25px);
  font-weight: 600;
  color: $black-color;

  &:hover {
    text-decoration: underline;
  }
}

.items-footer-container {
  @include size(171px, 100%);
  gap: 21px;
}

.items {
  gap: 15px;
}

.link-footer {
  @include font-settings(15px, 15px);
  color: $black-color;
}

.links-container {
  width: 65%;
  gap: 50px;
}

.footer {
  &-wrap {
    padding: 52px 20px 43px;
  }

  &-text {
    @include font-settings(12px, 15px);
    max-width: 270px;
  }

  &-line-wrapper {
    padding: 0 20px;
  }

  &-line {
    @extend %container;
    border-bottom: 1px solid $black-color;
  }

  &-container {
    @extend %container;
    justify-content: space-between;
    gap: 15px;
  }

  &-left-side-container {
    gap: 14px;
  }

  &-right-side-container {
    @include size(200px, 100%);
  }
}
